body{
    background-color: black;
}

#video{
    text-align: center;
}

#video p{
    margin-top: 0px;
    font-size: 10px;
}

#webtitle{
    position: absolute;
    top: 50px;
    left:220px;
    right:auto;
    /* text-align: center; */
    width: 950px;
    height: 500px;
z-index:999;
}

#blood{
    position: fixed;
    top: 0px;
    left:0px;
    right:0px;
    /* text-align: center; */
    width: 100vw;
    height: 100vh;
}

#introtext{
    text-align: center;
    color:rgb(194, 194, 194);
}

/* #visualization{
    text-align: center;
} */

body{
  margin:0;
}

.container { 
  margin-top: 30px;
  margin-bottom: 25px;
  height: 10px;
  /* width: 2000px; */
  position: relative;
  /* border: 3px solid green;  */
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


#button1{
    text-align: center;
    color: rgb(204, 151, 151);
    background-color:rgb(153, 31, 31);
    margin-right: 15px;
}

#button2{
    text-align: center;
    color: rgb(204, 151, 151);
    background-color:rgb(153, 31, 31);
    margin-right: 15px;
}

#button3{
    text-align: center;
    color: rgb(204, 151, 151);
    background-color:rgb(153, 31, 31);
    margin-right: 15px;
}

#button4{
    text-align: center;
    color: rgb(204, 151, 151);
    background-color:rgb(83, 81, 81);
    margin-right: 15px;
}

#button5{
    text-align: center;
    color: rgb(204, 151, 151);
    background-color:rgb(153, 31, 31);
    /* margin-right: 10px; */
}

