body{
    text-align: center;
    background-color: black;
    color:white;
}

#ruletitle{
    font-size: 55px ;
    font-family: Papyrus;
}

#ruletext{
    font-size: 18px;
    font-family: papyrus;
}

#checkbox{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#blood{
    position: fixed;
    top: 0px;
    left:0px;
    right:0px;
    /* text-align: center; */
    width: 100vw;
    height: 100vh;
    z-index:-1;
}